<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="utf-8">
	<title>Books Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'review_app/css/style.css' %}">
</head>
<body class="container">
	<h1>Welcome, {{request.session.name}}</h1>
	<br>
	<a href="books/add">Add Book and Review</a>
	<br>
	<a href="/logout">Logout</a>
	</div>
	<div class="main">
	<h3>Recent Book Reviews:</h3>
		{% for review in recent %}
		<div class="review">
			<h2><a href="/books/{{review.book.id}}">{{ review.book.title }}</a></h2>
			<p>Rating: {{ review.rating }}</p>
			<p><a href="/user/{{review.reviewer.id}}">{{ review.reviewer.name}}</a> says: {{ review.review }}</p>
			<p>Posted on: {{ review.created_at }}</p>
		</div>
		{% endfor %}
		 <div class="side">
            <h2>Other Books with Reviews:</h2>
            {% for review in more %}
            <div class="review">
                <h4><a href="/books/{{review.book.id}}">{{ review.book.title }}</a></h4>
            </div>
            {% endfor %}
        </div>
	</div>
</body>
</html>